<div class='container'>
  <div class="welcome">
    <h2>Baby Infoへようこそ！</h2></br>
  </div>
  <div class= "logo"><%= image_tag 'logo.jpg' %></div></br>
  <div class= "message">
    <p>Baby Infoはベビー用品を実際に使用した</p>
    <p>先輩パパ・ママのレビューを</p>
    <p>閲覧、投稿することのできる情報共有サイトです。</p>
    <p>新しい家族にピッタリなアイテムを見つけてください！</p>
  </div>
</div>